body
{
   background-color: azure; 
}

h1
{
    color: gray;
}

#showSketch
{
    float: right;
}

p
{
    padding-top: 10px;
    font-size: 25px;
}

canvas
{
    border: 5px solid rgb(141, 124, 124);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px cyan;}
    to{box-shadow: 1px 1px 38px rgb(39, 62, 62);}
}

